/* 

.swiper-pagination-bullet-active {
  background: linear-gradient(to right, #00e4c9, #00b2ff, #ff267e) !important;
}
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 0.6;
}
.hero-bg {
  background-image: url("/src/assets/your-bg.jpg");
  background-attachment: fixed;   
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

* {
  user-select: none;
  outline: none !important;
  cursor: default;
}

.goog-te-banner-frame.skiptranslate,
.goog-logo-link,
.goog-te-gadget {
  display: none !important;
}

body {
  top: 0 !important;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 */
/* * {
  outline: 1px solid red;
} */

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
